<div id="main">
  <div id="nav">
    <h1>Nurturing Potential Ltd</h1>
    <div class="" id="part2">
      <a href="#">About us</a>
      <a href="#">Services</a>
      <a href="#">Pricing</a>
      <a href="#">FAQ</a>
      <a href="#">
        <h5>
          Contact us
        </h5>
        <div id="green">
        </div>
      </a>
    </div>
  </div>
  <h1> Our Services </h1>
</div>
