<div id="main">
  <div id="nav">
    <h1>Nurturing Potential Ltd</h1>
    <div class="" id="part2">
      <a href="#">About us</a>
      <a href="#">Services</a>
      <a href="#">Pricing</a>
      <a href="#">FAQ</a>
      <a href="#">
        <h5>
          Contact us
        </h5>
        <div id="green">
        </div>
      </a>
    </div>
  </div>
  <h1> Empowering Growth & Learning </h1>
  <img src="https://i.pinimg.com/564x/1c/51/ca/1c51caaf245a8ec800919b976b99e767.jpg" alt="img2" id="img1">
  <img src="https://i.pinimg.com/564x/25/b6/b0/25b6b0603f8f3c3f9eb379953448bba3.jpg" alt="img1" id="img2">
</div>
