/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main > h1 {
  font-size: 5.4vw;
  font-weight: 100;
  text-transform: capitalize;
  width: 60%;
  text-align: center;
  position: relative;
  z-index: 1;
}

#main > h1::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 2vh;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  background-size: cover;
  bottom: -1.3vh;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

#main #img1 {
  height: 25rem;
  width: 18.125rem;
  position: absolute;
  left: 3%;
  top: 18%;
}

#main #img2 {
  height: 25rem;
  width: 19rem;
  position: absolute;
  right: 1.5%;
  bottom: 6%;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.25rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav > h1 {
  font-size: 2rem;
  font-weight: 100;
}

#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav #part2 a {
  text-decoration: none;
  color: #222;
  margin: 20px;
}

#nav #part2 a:nth-last-child(1) {
  padding: 7px 18px;
  border-radius: 2rem;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#nav #part2 a:nth-last-child(1) #green {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: springgreen;
  transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1) h5 {
  position: relative;
  z-index: 1;
  font-weight: 100;
}

#nav #part2 a:nth-last-child(1):hover #green {
  left: 0;
}
