/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
#main {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1 > h1 {
  font-size: 5.4vw;
  font-weight: 100;
  text-transform: capitalize;
  width: 60%;
  text-align: center;
  position: relative;
  z-index: 1;
}

#page1 > h1::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 2vh;
  background-image: url(https://nurturing-potential-website.s3.ap-south-1.amazonaws.com/images/underline-orange.svg);
  background-size: cover;
  bottom: -1.3vh;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

#page1 img {
  border-radius: 10%;
}

#page1 #img1 {
  height: 25rem;
  width: 18.125rem;
  position: absolute;
  left: 3%;
  top: 18%;
}

#page1 #img2 {
  height: 25rem;
  width: 19rem;
  position: absolute;
  right: 1.5%;
  bottom: 6%;
}
#page1 #img1 {
  transition: margin 0.8s ease;
}
#page1 #img1:hover {
  margin-top: -0.625rem;
}

#page1 #img2 {
  transition: margin 0.8s ease;
}
#page1 #img2:hover {
  margin-bottom: 10px;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.25rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 99;
}

#nav a {
  text-decoration: none;
  color: #222;
}

#nav a > h1 {
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
}

#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav #part2 a {
  text-decoration: none;
  color: #222;
  margin: 20px;
}

#nav #part2 a:nth-last-child(1) {
  padding: 7px 18px;
  border-radius: 2rem;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#nav #part2 a:nth-last-child(1) #orange {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: orange;
  transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1) h5 {
  position: relative;
  z-index: 1;
  font-weight: 100;
}

#nav #part2 a:nth-last-child(1):hover #orange {
  left: 0;
}

#page2 {
  min-height: 50%;
  width: 100%;
  background-color: #000;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#page2 h5 {
  font-size: 1.188rem;
  font-weight: 500;
  position: relative;
}
#page2 h5::before {
  content: "";
  position: absolute;
  left: -8%;
  top: 23%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: orange;
}

#page2 h1 {
  font-size: 2rem;
  width: 70%;
  text-align: center;
  font-weight: 100;
  margin: 1.625rem 0;
}

#page2 h1 span {
  position: relative;
  white-space: nowrap;
}

#page2 h1 span::after {
  content: "";
  position: absolute;
  height: 65px;
  width: 175px;
  top: -15px;
  right: -11%;
  background-image: url(https://nurturing-potential-website.s3.ap-south-1.amazonaws.com/images/circle-orange.svg);
}

#about-us {
  display: flex;
  align-items: center;
}

#about-us > h4 {
  font-size: 20px;
  font-weight: 300;
}

#greendiv {
  border-color: rgb(58, 43, 226);
  border-radius: 50px;
  width: 65px;
  height: 30px;
  border: 1px solid white;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-us img {
  rotate: -90deg;
  height: 25px;
}

/* contact form */
#container {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

#container #left-section {
  width: 30%;
  min-height: 400px;
}

#container #right-section {
  width: 50%;
  padding: 20px 100px 0 32px;
}

#container #right-section h1 {
  font-size: 2rem;
  font-weight: 300;
}

#right-section #form-group {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  text-wrap: nowrap;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b0b0b073;
}

#form-group label {
  width: 40%;
}

#form-group input {
  width: 70%;
  padding: 0.625rem;
  border: 0px;
}

#form-group input:focus {
  outline: none;
}

#form-group textarea {
  width: 70%;
  padding: 0.625rem;
  border: 0px;
}
#form-action {
  padding-top: 1.25rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#form-action p {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 300;
}

#form-action input {
  padding: 0.625rem 1.25rem;
  border: 0px;
  color: black;
  background-color: white;
  border-radius: 2rem;
  border: 1px solid black;
  cursor: pointer;
}

#form-action input:hover {
  background-color: black;
  color: white;
}
