<div id="nav">
  <a href="<%= root_path %>">
    <h1>Nurturing Potential Ltd</h1>
  </a>
  <div class="" id="part2">
    <a href="#">About us</a>
    <a href="#">Services</a>
    <a href="#">Pricing</a>
    <a href="#">FAQ</a>
    <a href="<%= new_contact_path %>" id="contact">
      <h5>
        Contact us
      </h5>
      <div id="orange">
      </div>
    </a>
  </div>
</div>